In [2]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
    "Height" : [1.6, 1.6, 1.5, 1.8, 1.5, 1.4],
    "Fav Color": ["Blue", "Green", "Blue", "Red", "Green", "Blue"],
    "Gender": ["Male", "Female", "Female", "Male", "Male", "Female"],
    "Weight": [88, 76, 56, 73, 77, 57]
})
df

   Height Fav Color  Gender  Weight
0     1.6      Blue    Male      88
1     1.6     Green  Female      76
2     1.5      Blue  Female      56
3     1.8       Red    Male      73
4     1.5     Green    Male      77
5     1.4      Blue  Female      57